#%RAML 1.0
title: Arrowhead - Blockchain Adapter
version: v1
baseUri: https://api-archer.kickstartteam.es
documentation:
 - title: Summary
   content: !include README.md

mediaType: application/json

types:
  SmartContract: !include schemas/smartContract.json
  Transaction: !include schemas/transaction.json

securitySchemes:
  oauth_2_0: !include ./securitySchemes/oauth_2_0.yml

/{dlt_type}:
  uriParameters:
    dlt_type:
      type: string

  /smartcontracts:
    displayName: Smart Contract  

    post:
      description: Create a new Smart Contract
      securedBy: [ oauth_2_0 ]
      headers:
      body:
        application/json:
          type: SmartContract
      responses:
        202:

    /{address}:
      uriParameters:
        address:
          type: string

      post:
        description: execute write transaction in a Smart Contract
        securedBy: [ oauth_2_0 ]
        headers:
        body:
          application/json:
            type: Transaction
        responses:
          202:
      get:
        description: synchronous read from a Smart Contract
        securedBy: [ oauth_2_0 ]
        queryParameters:
          method: 
            type: string
            description: the name of the public method to call 

  /transfers:
    post:
      description: transfer dlt native cryptocurrency
  /notarizations:
    post:
      description: write metadata in blockchain
  /balance:
    get:
      description: obtain the native cryptocurrency balance of a dlt address
      queryParameters:
        address:
          type: string
  /incentive:
    /average:
      get:
        description: obtain the current average payed as mining incentive e.g. bitcoin fee or ethereum gas
        
  /receipt:
    get:

