#%RAML 1.0
title: Hancock - DLT Adapter
version: v1
baseUri: https://kong-blockchainhub-develop.kickstartteam.es/{version}/dlt-adapter
documentation:
 - title: Summary
   content: !include README.md

mediaType: application/json

types:
  SmartContractRequest: !include schemas/requests/ethereum/smartContracts/register.json
  TransactionInvokeByParamRequest: !include schemas/requests/ethereum/smartContracts/transactionInvokeByParam.json
  TransactionInvokeRequest: !include schemas/requests/ethereum/smartContracts/transactionInvoke.json
  TransactionDeployRequest: !include schemas/requests/ethereum/smartContracts/transactionDeploy.json
  TransferRequest: !include schemas/requests/ethereum/transfers/transfer.json

  GenericResponse: !include schemas/responses/generic.json
  SmartContractResponse: !include schemas/responses/ethereum/smartContracts/registered.json
  TransactionInvokeResponse: !include schemas/responses/ethereum/smartContracts/transactionInvoke.json
  TransactionDeployResponse: !include schemas/responses/ethereum/smartContracts/transactionDeploy.json
  TransferResponse: !include schemas/responses/ethereum/transfers/transfer.json

securitySchemes:
  oauth_2_0: !include ./securitySchemes/oauth_2_0.yml

/{dlt_type}:
  displayName: Ethereum
  description: API to adapt Ethereum transactions

  uriParameters:
    dlt_type:
      type: string

  /smartcontracts:
    post:
      description: Register a deployed Smart Contract
      securedBy: [ oauth_2_0 ]
      headers:
      body:
        application/json:
          type: SmartContractRequest
      responses:
        201:
         body:
          type: GenericResponse

    /{address|alias}:
      uriParameters:
        address|alias:
          type: string
      post:
        description: Adapt transaction in the registered Smart Contract
        securedBy: [ oauth_2_0 ]
        headers:
        body:
          application/json:
            type: TransactionInvokeByParamRequest
        responses:
          200:
            body:
              type: TransactionInvokeResponse
      get:
        description: Retrieve ABI from registered Smart Contract
        securedBy: [ oauth_2_0 ]
        headers:
        responses:
          200:
            body:
              type: SmartContractResponse

    /deploy:
      post:
        description: Adapt a Smart Contract deployment transaction
        securedBy: [ oauth_2_0 ]
        body:
          application/json:
            type: TransactionDeployRequest
        responses:
          200:
            body:
              type: TransactionDeployResponse

    /invoke:
      post:
        description: Adapt a Smart Contract invocation transaction
        securedBy: [ oauth_2_0 ]
        body:
          application/json:
            type: TransactionInvokeRequest
        responses:
          200:
            body:
              type: TransactionInvokeResponse

  /transfers:
    post:
      description: Transfer dlt native cryptocurrency
      body:
        application/json:
          type: TransferRequest
        responses:
          200:
            body:
              type: TransferResponse

  /notarizations:
    post:
      description: Write metadata in blockchain
      
  /balance:
    get:
      description: Obtain the native cryptocurrency balance of a dlt address
      queryParameters:
        address:
          type: string

  /incentive:
    /average:
      get:
        description: Obtain the current average payed as mining incentive e.g. bitcoin fee or ethereum gas
        
  /receipt:
    get:

